/* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
	font-size:16px;
}


h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table.table { border-collapse: separate; border-spacing: 1px; border-width: 1px; border-color: #000; border-style: solid; }
table.tablebottom {
	border-collapse: separate;
	border-spacing: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-top-color: #FFF;
}
table.borderless {
 	border-collapse: separate; 
	border-spacing: 1px; 
	border-right-width: 1px;
	border-bottom-width: 1px;	
	border-left-width:  1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
th, td {
	border-width: 0px;
	padding: 0.5em;
	position: relative;
}
th.noborder, td.noborder { border-color: #000; border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
/*th { background: #EEE; border-color: #BBB; }
*/td { border-color: #DDD; }

/* page */

html {
	font: 18px/1 'Open Sans', sans-serif;
	overflow: auto;
	padding: 0.5in;
}
html { background: #999; cursor: default; }

page {
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	background-color: white;
	padding: 0.5in;
	border-color: #000; border-bottom-style: solid; border: 1px; 
}
page[size="A4"] {  
  width: 21cm;
  height: 30.1cm; 
}

page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}

/* header */

header {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	/* [disabled]margin-bottom: 3em; */
}
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */
article{ border-color: #000; border-bottom-style: solid; border: 1px; }
article, article address, table.meta, table.inventory { margin:0px; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */
table.photo { float: right; width: 42%; }
table.meta, table.balance { float: left; width: 40%; }
table.meta:after, table.photo:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory, table.address, table.language, table.digital { clear: both; width: 100%; }
table.inventory th, table.address th, table.language th, table.digital th, table.nationalid th {
	font-weight: bold;
	/*text-align: right;*/
}

table.inventory td:nth-child(1) { text-align: right; width: 22%; }
table.inventory td:nth-child(2) { width: 28%; }
table.inventory td:nth-child(3) { text-align: right; width: 22%; }
table.inventory td:nth-child(4) { width: 28%; }

table.language td:nth-child(1) { text-align: right; width: 10%; }
table.language td:nth-child(2) { width: 23%; }
table.language td:nth-child(3) { text-align: right; width: 10%; }
table.language td:nth-child(4) { width: 23%; }
table.language td:nth-child(3) { text-align: right; width: 10%; }
table.language td:nth-child(4) { width: 23%; }

table.address td:nth-child(1) { width: 22%; }
table.address td:nth-child(2) { width: 78%; }

table.digital td:nth-child(1) { text-align: right; width: 25%; }
table.digital td:nth-child(2) { width: 25%; }
table.digital td:nth-child(3) { text-align: right; width: 25%; }
table.digital td:nth-child(4) { width: 25%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */
aside { margin-top: 10px; font-size: 13px; }
aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }
.grphead {
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
}



@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }
h4 {
	font-size: 18px;
}
